body {
    background-color: rgb(255, 253, 243);
}

.button{
    background-color: rgb(225, 193, 230);
}

.card{
    margin-bottom: 30px;
    margin-left: 30px;
}

.container-fluid{
    background-color: rgb(255, 253, 243);
}


.card {
    background-color: rgb(255, 253, 243);
}
.card-body {
    font-size: x-large;
}

.title{
    font-size: x-large;
}

div.card.text-white.bg-secon {
    background-color: rgb(225, 193, 230);
}